<!doctype html>
<html>

{{> partials/meta.hbs}}

<body>
  {{> partials/header.hbs}}
  <main class="main">
    <div class="main-container">
      <div class="main-left-container">
        <article class="post-container">
          <h3 class="post-title"><a href="{{post.permalink}}">{{post.title}}</a></h3>
          <div class="post-meta">
            <span class="post-date">{{date_format post.datetime}}</span>
            <span class="post-meta-gap">|</span>
            <span class="post-author">{{post.author.name}}</span>
            {{#each post.tags}}
            <span class="post-meta-gap">|</span>
            <a href="{{url}}" class="post-tag">#{{name}}</a>
            {{/each}}
          </div>
          <div class="post-content">{{{post.content}}}</div>
          {{#if post.comments}}
          <section class="post-comment comment">
            <div class="comment-closed"> Comment is enabled</div>
          </section>
          {{else}}
          <section class="post-comment">
            <div class="comment-closed"> Comment is closed</div>
          </section>
          {{/if}}
        </article>
      </div>
      {{> partials/sidebar.hbs}}
    </div>
  </main>
  {{> partials/footer.hbs}}
</body>

</html>